/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.env.dev
.env.staging
.env.testing
/tests/.env
/tests/coverage
supervisor.sh
.phpstorm.meta.php
_ide_helper.php
fabfile.pyc
storage/exports/

mappings.json
